*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 100px auto;
  border: solid 2px black;
  padding: 28px 64px;
}

.fade-enter .item {
  opacity: 0;
  transform: translateY(-50%);
}
.fade-enter-active .item {
  opacity: 1;
  transform: translateY(0%);
}
.fade-exit .item {
  opacity: 1;
  transform: translateY(0%);
}
.fade-exit-active .item {
  opacity: 0;
  transform: translateY(50%);
}
.fade-enter-active .item,
.fade-exit-active .item {
  transition: opacity 500ms, transform 500ms;
}
