*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

p {
  margin: 0;
}

.prev-btn {
  margin-right: 8px;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 100px auto;
  border: solid 2px black;
  padding: 28px 64px;
}

.header__content {
  width: 100%;
}

.header__inner {
  position: relative;
  width: 100%;
  height: 32px;
  // overflow: hidden;
}

.header__title {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 14px;
  // line-height: 19px;
}

.header__content--is-next .fade-title-enter .header__title {
  transform: translateY(33px);
  opacity: 0;
}
.header__content--is-next .fade-title-enter-active .header__title {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transition-delay: 0.15s;
}
.header__content--is-next .fade-title-exit .header__title {
  transform: translateY(0%);
}
.header__content--is-next .fade-title-exit-active .header__title {
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
