body {
  padding: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.label {
  margin-bottom: 0.5rem;
}

.modes {
  margin-bottom: 1rem;
}

.fade-enter .item {
  opacity: 0;
  transform: translateY(-100%);
}
.fade-enter-active .item {
  opacity: 1;
  transform: translateY(0%);
}
.fade-exit .item {
  opacity: 1;
  transform: translateY(0%);
}
.fade-exit-active .item {
  opacity: 0;
  transform: translateY(100%);
}
.fade-enter-active .item,
.fade-exit-active .item {
  transition: opacity 500ms, transform 500ms;
}
